@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        bottom: 0px;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        bottom: -200px;
    }
}

.drops {
    -webkit-filter: url('#liquid');
    filter: url('#liquid');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    animation: fade-in .1s linear .4s forwards;
}

.drop1,
.drop2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #10a7c1
}

.drop1 {
    width: 90px;
    height: 16px;
    bottom: 2px;
    border-radius: 0;
}

.drop2 {
    animation: drop 1.3s cubic-bezier(1, .19, .66, .12) .5s infinite;
}